streamlit==1.32.0
streamlit-option-menu==0.3.6
replicate==0.23.1
PyPDF2==3.0.1
langchain>=0.1.6
langchain-community>=0.0.19
langchain-core>=0.1.22
langsmith>=0.0.83
sentence-transformers==2.3.1
faiss-cpu==1.7.4
nltk==3.8.1
beautifulsoup4==4.12.2
python-dotenv==1.0.1
requests==2.31.0
tqdm==4.66.2
numpy==1.24.4
pandas==2.0.3